@import "normalize.css";
/*  If you're here, I assure you would be unimpressed by the lack of flare and animations; my passion isn't portfolio sites but design systems. I only aimed to use minimal code and good old-fashioned HTML & CSS. */
* {
    box-sizing: border-box;
}
:root, ::before, ::after {
    --white: #fff;
    --dark: #212121;
    --primary-dark: #AC4D48;
    --gray-muted: #D1D1D1;
    --gray: #737373; 
    --body-font-family: 'Titillium Web', sans-serif;
    --heading-font-family: 'Titillium Web', sans-serif;
    --base-font-size: 18;
    --weight-light: 300;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --font-size-1: 1rem;
    --font-size-2: 1.25rem;
    --font-size-3: 1.5rem;
    --font-size-4: 1.75rem;
    --font-size-5: 2rem;
    --font-size-6: 2.5rem;
    --line-height-1: 1.5;
    --line-height-2: 1.15;
    --line-height-3: 1.25;
    --line-height-4: 2;
    --spacing-half: 1rem;
    --spacing-1: 2rem;
    --spacing-2: 3rem;
    --spacing-3: 4rem;
    --spacing-4: 5rem;
    --spacing-5: 6rem;
    --desktop: 960px;
    --mobile: calc(var(var(--desktop) - 1px));
    --h1: var(--weight-light) var(--font-size-6)/var(--line-height-2) var(--heading-font-family);
    --h2: var(--weight-semibold) var(--font-size-5)/var(--line-height-3) var(--heading-font-family);
    --h3: var(--weight-semibold) var(--font-size-2)/var(--line-height-3) var(--heading-font-family);

    font-family: var(--body-font-family);
    font-size: calc(var(--base-font-size) * 1px);
    line-height: var(--line-height-4);
}
/* SEMANTIC ELEMENTS */
/* Typography - could write a scss function for this */
h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin: 0;
}
h1, .h1 {
    font: var(--h1);
}
h2, .h2 {
    color: var(--primary-dark);
    font: var(--h2);
}
h3, .h3 {
    font: var(--h3);
}
strong { 
    font-weight: var(--weight-semibold);
}
p {
    line-height: normal;
    margin-bottom: 1.5rem;
    margin-top: 0;
}
a {
    position: relative;
}
a:focus {
    background-color: var(--primary-dark);
    color: var(--white);
    outline: none;
}
a:focus:after {
    background-color: var(--primary-dark);
    border-radius: 4px;
    content: '';
    position: absolute;
    left: -4px;
    right: -4px;
    bottom: -4px;
    top: 0;
    z-index: -1;
}
/* Decorative ordered list */
ol {
    counter-reset: item;
    list-style: none;
    position: relative;
}
li {
    line-height: normal;
}
ol > li {
    counter-increment: item;
    margin-bottom: 1.5rem;
}
ol > li:last-child {
    margin-bottom: 0;
}
ol > li strong {
    color: var(--primary-dark);
    font-family: var(--heading-font-family);
    font-weight: var(--weight-semibold);
}
ol > li::before {
    background: var(--primary-dark);
    border-radius: 50%;
    box-sizing: content-box;
    color: white;
    content: counter(item);
    font: var(--weight-semibold) var(--font-size-2)/24px var(--heading-font-family);
    height: 24px;
    left: 0;
    margin-top: 3px;
    padding: 4px;
    position: absolute;
    text-align: center;
    width: 24px;
    z-index: -1;
}
/* Layout */
.l-site-wrapper {
    margin: 0 auto;
    max-width: 1230px;
    padding: 2vw 4vw;
    position: relative;
}
header {
    display: block;
}
main {
    padding: var(--spacing-1) 0 0;
}
img {
    max-width: 100%;
}
footer {
    bottom: 0;
    margin: var(--spacing-4) var(--spacing-3) 0;
    padding: 0 var(--spacing-3);
    position: absolute;
    right: 0;
}
nav a {
    margin: 0 var(--spacing-half);
}
nav a:first-child {
    margin-left: 0;
}
/* Projects */
.l-two-column-flex {
    display: flex;
    gap: var(--spacing-4);
}
.l-two-column-grid .l-column,
.l-two-column-flex .l-column { /* product development */
    display: block;
    flex: none;
}
/* Desktop */
@media only screen and (min-width: 960px) {
    main { 
        padding: var(--spacing-3) var(--spacing-3) 0;
    }
    header {
        align-items: center;
        display: flex;
        font-family: var(--heading-font-family); 
        justify-content: space-between;
        padding-left: var(--spacing-3);
    }
    .l-two-column-grid .l-column {
        display: grid;
        flex: 1 1 50%;
        grid-template-rows: auto 24px 1fr;
    }
    .l-two-column-grid .l-column:first-child {
        margin-right: var(--spacing-4);
    }
    .l-two-column-grid .l-column:last-child {
        margin-left: var(--spacing-4);
    }
    .l-two-column-grid .l-column:last-child ul {
       grid-row-start: 3;
    }
    .l-two-column-flex .l-column {
        flex: 1 1 50%;
    }
}
/* Mobile */
@media only screen and (max-width: 959px) {
    nav {
        margin-top: 12px;
    }
}
/* COMPONENTS*/
/* Header */
.c-site-title {
    color: var(--dark);
    font: var(--h1);
    position: relative;
    text-decoration: none;
}
.c-site-title:hover,
.c-site-title:focus {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}
/* Highlight */
.c-highlight,
a {
    color: var(--primary-dark);
    font-weight: var(--weight-semibold);
    display: inline-block;
}
a.c-highlight,
a {
    text-decoration: underline;
}
a.c-highlight:focus,
a:focus {
    color: white;
}
/* Subheading */
.c-subheading {
    color: var(--gray);
    font-family: var(--heading-font-family);
    font-size: var(--font-size-1);
    font-weight: var(--weight-semibold);
    margin-bottom: 0;
    margin-top: 0;
}
/* Divider */
.c-divider {
    background: var(--gray-muted);
    height: 2px;
    margin: 16px 0 24px;
}
.c-divider--small {
    height: 1px;
}
/* Index */
.c-portfolio-content {
    align-items: flex-start;
    display: flex;
    gap: 32px;
}

.c-portfolio-description {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    line-height: 2;
    margin: 0 auto;
    text-align: center;
}
.c-portfolio-description img {
    max-width: 80px;
}
.c-callout-text {
    font: var(--weight-light) var(--font-size-4)/normal var(--heading-font-family);
    margin: 0;
}
.c-portfolio-wrapper h2 {
    margin-bottom: 0;
}
.c-portfolio-wrapper p {
    margin-top: 0;
}
/* Desktop */
/* define-ux-engineer */
.c-role-definitions {
    grid-column-end: 3;
    grid-column-start: 1;
}
.c-role-definitions h1 {
    margin-bottom: 8px;
}
@media only screen and (min-width: 960px) {
    .c-role-definitions ul {
        column-count: 2;
        column-gap: var(--spacing-2);
    }
}
/* resume */
.l-site-wrapper--resume h2 {
    color: var(--primary-dark);
    font-weight: var(--weight-semibold);
    margin-bottom: 0;
}
.l-site-wrapper--resume h3 {
    margin: 0;
}
/* Desktop */
@media only screen and (min-width: 960px) {
    .c-divider {
        margin: var(--spacing-1) 0 var(--spacing-2);
    }
    .c-portfolio-group img {
        margin-top: var(--spacing-1);
    }
    .c-portfolio-group {
        margin-bottom: var(--spacing-3);
    }
    .c-portfolio-description {
        max-width: 40vw;
    }
}
.l-site-wrapper--resume ul {
    margin-top: 4px;
    margin-bottom: var(--spacing-1);
}
.l-site-wrapper--resume li {
    margin-bottom: 8px;
}
.l-site-wrapper--resume {
    margin-top: 0;
    margin-bottom: 8px;
}
.l-site-wrapper--resume p {
    margin-bottom: 12px;
    margin-top: 0;
}
/* Utilities */
.u-flex {
    display: flex;
}
.u-flex-column {
    flex-direction: column;
}
.u-justify-content-between {
    justify-content: space-between;
}
.u-align-center {
    align-self: center;
}
.u-padding-none {
    padding: 0;
}
.u-margin-top-none {
    margin-top: 0;
}
.u-margin-bottom-none {
    margin-bottom: 0;
} 
.u-text-right {
    text-align: right;
}
.u-margin-none {
    margin: 0;
}
/* Responsive utilities - mobile */
@media only screen and (max-width: 959px) {
    .l-site-wrapper {
        padding: 6vw 8vw;
    }
    .l-two-column-flex,
    .c-portfolio-content {
        flex-wrap: wrap;
    }
    .u-m-flex {
        flex-direction: column;
    }
}
/* Responsive utilities - desktop */
@media only screen and (min-width: 960px) { 
    .u-d-display-none {
        display: none;
    }
}